<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca Batatinha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="livros.length === 0" style="text-align:center; margin-top: 40px;">
    Nenhum livro cadastrado
  </div>

  <ion-list>
  <ion-item *ngFor="let livro of livros; let i = index">
    <ion-label>
      <h2>{{ livro.titulo }}</h2>
      <p>{{ livro.autor }}</p>
    </ion-label>

    <ion-button color="danger" (click)="removerLivro(i)">
      Deletar
    </ion-button>
  </ion-item>
</ion-list>

</ion-content>